.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    .title-text {
        font-size: 24px;
        font-weight: bold;
    }

    .record-count {
        font-size: 16px;
        color: #666;
    }

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        gap: 20px;
    }
}

.sales-data-card-container {
    display: flex;
    gap: 20px;
    padding: 25px 32px;
    margin-bottom: 22px;
    font-family: sans-serif;
    border-bottom: 1px solid #DCDCDC;

    @media screen and (max-width: 992px) {
        flex-wrap: wrap;
        gap: 20px;
    }
}

.sales-data-card {
    padding: 18px;
    gap: 15px;
    // height: 140.35px;
    background: #FFFFFF;
    border: 1px solid #EFEFF0;
    box-shadow: 0px 3.5px 18px rgba(0, 0, 0, 0.08);
    border-radius: 11.0213px;
    width: 100%;
    max-width: 100%;
}

.sales-data-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.sales-data-card-icon {
    width: 34px;
    height: 34px;
    border-radius: 8px;
}

.sales-data-card-title {
    font-weight: 500;
    font-size: 14.695px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #777980;
    margin-bottom: 7px;
}

.sales-data-value {
    font-weight: 600;
    font-size: 29.3901px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #1D1F2C;
    margin-bottom: 15px;
}

.sales-data-growth {
    font-weight: 700;
    font-size: 12.8582px;
    line-height: 18px;
    letter-spacing: 0.005em;

    span {
        font-weight: 500;
        color: #858D9D;
    }
}

.positive {
    color: #16a34a;
}

.negative {
    color: #dc2626;
}

.label-container {
    @media screen and (max-width: 992px) {
        flex-direction: column;
        width: 100%;
        align-items: flex-start !important;
    }
}

.filter-form-container {
    padding: 0px 32px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.filter-form-container-inner {
    display: flex;
    align-items: center;
    gap: 12px;

    @media screen and (max-width: 992px) {
        flex-direction: column;
        width: 100%;
    }
}

.filter-form-container label {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #1A1A1A;
    white-space: nowrap;
    margin-right: 8px;
    margin-bottom: 0px;
}

.inventory-select-span {

    @media screen and (max-width: 400px) {
        width: 100%;
    }

    input {
        @media screen and (max-width: 400px) {
            width: 100%;
        }
    }
}

.button-container {
    display: flex;
    align-items: center;
    gap: 12px;

    @media screen and (max-width: 992px) {
        flex-wrap: wrap;
    }
}

.toggle-container {
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #d1d5db;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 582px;
    margin: 0 auto 25px auto;

    @media screen and (max-width: 992px) {
        max-width: 312px;
    }
}

.toggle-button {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #444955;
    padding: 8px 16px;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    flex: 1;
}

.toggle-button.active {
    background-color: #7459AF;
    color: white;
    // border: 1px solid #7459AF;
}

.graph-container {
    padding: 0px 32px;
}

.graph-card {
    background: #FFFFFF;
    border: 1px solid #CECED4;
    box-shadow: 0px 3.5px 18px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 21px 18px;
    margin-bottom: 32px;

    .card-header {
        padding: 0px;
        margin-bottom: 22px;

        .card-title {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #1A1A1A;
        }
    }
}

.chart-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @media screen and (max-width: 992px) {
        flex-direction: column;
    }
}

.table-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

.product-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

    @media screen and (max-width: 992px) {
        table-layout: auto;
    }
}

.product-table th {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #1A1A1A;
}

.product-table td {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #3A3A3A;
}

.product-table th,
.product-table td {
    padding: 0.5rem 0.25rem;
    text-align: left;
    // border-bottom: 1px solid #ddd;
}

.name-cell {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 13px;
}

.color-dot {
    display: inline-block;
    width: 10px;
    min-width: 10px;
    height: 10px;
    min-height: 10px;
    border-radius: 50%;
}

.sales-loader {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 800px);
}

.recharts-responsive-container {
    display: flex;
    align-items: center;
    justify-content: center;
}